* {
    box-sizing: border-box;
}

html {
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    background-color: #bbb;
}

.header {
    margin: 1rem auto;
}

.buttons {
    height: 10vh;
    max-width: 40vw;
    margin: 1rem auto;
    background-color: blueviolet;
}

.workingArea {
    margin: 0 auto;
    width: 480px;
    height: 480px;
    background-color: white;
}

.divGrid {
    background-color: grey;
    border: 1px solid red;
    width: calc(480px / 16);
    min-height: calc(480px / 16);
}

.footer {
    margin: 1rem auto;
}